{{> mainmenu }}

<section class="ui raised segment">

    {{> timeline }}

    <script>
        document.getElementById("delete_all").setAttribute('formaction', '/userDeleteTweetsAll');
        document.getElementById("senderEmail").setAttribute('disabled', 'disabled');
    </script>
    <div class="ui  divider"></div>

</section>