{{> welcomemenu _id="main" }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/tweet.jpg" class="ui medium image">
        </aside>
        <article class="ten wide column">
            <header class="ui  header"> Welcome to MyTweet</header>
            <p> Connect with your friends — and other fascinating people.<br>
                Get in-the-moment updates on the things that interest you.<br>
                And watch events unfold, in real time, from every angle.
            </p>
        </article>
    </div>
</section>